h3 {
  font-family: 'Urbanist', sans-serif;
  font-size: 15.5px;
  font-weight: bold;
  vertical-align: middle;
  margin: 0;
  padding: 8px;
}

p {
  color: #000a63;
  margin: 0;
  padding: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.fas {
  color: #000A63;
  padding-left: 3px;
  font-size: 15px;
}

.title-with-avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
  margin-bottom: 5%;
}

.poll-answers {
  color: #860060;
  border-radius: 10px;
  border: solid 1px #860060;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding: 5px 7px 5px 7px;
  font-size: 14px;
  max-width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poll-votes {
  border-radius: 10px;
  background-color: #860060;
  color: white;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding: 10px;
  font-size: 10px;
  min-width: 12%;
  text-align: center;
}

.poll-answer-votes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container-poll {
  border-radius: 10px;
  border: solid 1px #E9D4E1;
  margin-right: 8%;
  margin-left: 8%;
}

.container-poll-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: linear-gradient(180deg, #000A63 0%, #860060 100%);
  padding: 5px;
  color: white;
}

.deadline-and-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
}
