h3 {
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  margin: 0;
  padding: 8px;
}

p {
  color: #000a63;
  margin: 0;
  padding: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.fasicont {
  color: #000A63;
  font-size: 15px;
  margin: 0px 10px;
}

.title-with-avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-end;
  padding-right: 12px;
  margin-bottom: 1%;
}
.title-with-avatar .titlepoll{
  font-size: 27px;
}

.poll-answer-votes {
  color: #860060;
  border-radius: 10px;
  border: solid 1px #860060;
  margin: 1.5% 2% 3.5% 2%;
  padding: 5px 7px 5px 7px;
  font-size: 15px;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    color: #860060;
  }
}

.answer-vote-percentage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-poll {
  border-radius: 10px;
  border: solid 1px #E9D4E1;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.container-poll-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: linear-gradient(180deg, #000A63 0%, #860060 100%);
  padding: 5px;
  color: white;
}

.deadline-and-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
}

.container-projects {
  border: 1px solid #E9D4E1;
  border-radius: 10px;

  li, a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
