// Specific CSS for your home-page

.buttons-landing{
  align-items: center;
  text-align: center;
  margin-top: 30px;

}
.landing{
  align-items: center;
  padding: 20px;
}
.margin{
  padding-left: 20px;
  margin-bottom: 40px;
}
