// Specific CSS for your home-page

.buttons-landing{
  align-items: center;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;

}
.landing{
  align-items: center;
  padding: 20px;
}
.margin{
  padding-left: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.homep{
  color: #000a63;
  margin-top: 0;
  margin-bottom: -1rem;
}
