.titlepoll{
  font-size: 30px;
  width: 90%;
  margin: 5%;
}
.addplus{
  padding: 4%;
  font-size: 37px;
  color: #860060;
}
.addnewanswer{
  padding-bottom: 5%;
  color: #a9a6a6;
}
.button-plus{
  border: none;
  background-color: transparent;
}
