<h1 class="titlepoll">EDIT PROJECT</h1>
<div class="poll-form">
<%= simple_form_for(@project) do |f| %>
  <%= f.input :title, :label => "Title", placeholder: "Write a title" %>
  <%= f.input :description, :label => "Description", placeholder: "Write a description" %>
  <%= f.submit class: "crproject" %>
<% end %>
</div>
