<h1 class="titlepoll">EDIT PROJECT</h1>
<div class="poll-form">
<%= simple_form_for(@project) do |f| %>
  <%= f.input :title, :label => false, placeholder: "Project Title" %>
  <%= f.input :description, :label => false, placeholder: "Description" %>
  <%= f.submit class: "crproject" %>
<% end %>
</div>
