.crproject{
  display: flex;
  color: white;
  font-weight: 700;
  background: #000a63;
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
  width: 89%;
  margin: auto;
  justify-content: center;
}
