.btn-main {
  color: white;
  padding: 8px 40px;
  border-radius: 10px;
  font-weight: 700;
  background: #000a63;
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
  width: 89%;
  margin: auto;
}

.container-button {
  display: flex;
  justify-content: center;
  margin: 10%;
}
