.poll-form{
  width: 90%;
  margin: auto;

  input{
    padding: 0.375rem 0.75rem;
    border-radius: 10px
  }
}
.form-select{
  border-radius: 10px;
}

#new_poll{
  text-align: center;
div {
  margin-bottom: 30px !important
}
}
