.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky end;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navpoll{
  flex-direction: row;
}
.navbar-nav .nav-link{
  padding-left: 35px;
}
