// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "components/banner";
@import "components/buttons";
@import "shared/flashes";
@import "pages/newpoll";
@import "components/formpoll";
@import "components/navbar";

h1 {
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  /* or 75px */

  background: radial-gradient(50% 50% at 50% 50%, #000A63 0%, #860060 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.link {
  width: 98px;
  height: 27px;
  left: 154px;
  top: 785px;

  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  /* or 22px */
  color: #860060;
}
body{
  background-color: white;
}
